.header {
    background:#f165c7;
    color: white;
    min-height: 100px;
    padding: 180px 20px; 
    padding-bottom: 140px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 4rem;
  }

  